body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    padding-left: 5%;
}
.navbar h2 {
    color: #3A3A3A;
}
.website-name {
    margin-bottom: 10px;
}
.influencer {
    display: flex;
}
.text-bar {
    width: 50%;
    padding-left: 5%;
}
.text-bar h1 {
    font-size: 60px;
    color: #3A3A3A;
}
.image-bar img{
    width: 90%;
}
.influencer .text-bar a {
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 5px 15px;
}

/* Popular Collection */
.container {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    margin-top: 100px;
}
.Popular-Collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}
.Popular {
    width: 329px;
    height: 476px;
}
.Popular .popular-banner img {
    width: 300px;
    height: 256px;
}
.popular-info {
    display: flex;
    align-items: center
}
.fa.star {
    font-size: 16px;
}
.fa-star.filled {
    color: orange;
}
.more {
    color: #E02C6D;
    font-weight: 700;
    text-decoration: none;
}
.next {
    justify-content: space-between;
}
/* last-section */
.section-header {
    margin-top: 100px;
}
.section-header {
    display: flex;
}
.image-section img {
    width: 70%;
    padding-left: 15%;
}
.text-section {
    width: 50%;
}
.text-section h1{
    font-size: 60px;
    color: #3A3A3A;
}

/* footer */
.footer-products {
    background: #0A0826;
    margin-top: 100px;
}
.footer-color {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

.influencer:hover .image-bar img {
    transform: scale(1.3) rotate(60deg);
    transition: 2s ease-in-out;
}



/* --------------
Media Queries
---------------- */

/* -----------
Mobile Devices
---------- */
*{
    box-sizing: border-box;
}
@media only screen and (max-width:768px) {
    .influencer {
        width: 100%;
    }  
    .Popular-Collection {
        grid-template-columns: repeat(2, 1fr);
       }
       
}
@media only screen and (max-width:411px) {
   .influencer {
       width: 100%;
   }
   .Popular-Collection {
    grid-template-columns: repeat(1, 1fr);
   }
   .container {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
}
.navbar {
    padding-left: 0%;
}
}
